@import "tailwindcss";

@keyframes width_decrease {
    0% {
        width: 150px;
    }

    100% {
        width: 60px;
    }
}

.navBar_BrandLogoDiv {
    animation: width_decrease 3.5s ease forwards;
    overflow: hidden;
}